body {
    background-image: url("../images/rutile-city_o.jpg");
    background-size: cover;
    
}
h1 {
    color: cyan;
    font-style: inherit;
    margin-left: 5%;
}
#instuctions {
    color: rgb(180, 89, 176);
    display: table;
    justify-content: space-between;
}
.targetH{
    color: turquoise;
}
#targetNum {
    color: cyan;
}
#wincounter {
    color: blue;
}
#losscounter{
    color: crimson;
}
.counter {
    color: cyan;
}
#counter{
    color: cyan;
}